h1{
    margin-left: 10px;
}


#left_frame{
    background-image: linear-gradient(90deg,#000000, rgb(255, 255, 255));
    width: 15%;
    height: 100vh;
    float: left;
}

#table_left{
    display: block;
    height: 100vh;
    margin-left: 15px;
}
#dashboard{
    margin-top: 35%;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none;
    color: white;
  }
  
#bookParcel{
    
    margin-top: 10px;
}
#right_frame{
    float: right;
    width: 85%;
    height: 100vh;
    background-image: linear-gradient(90deg,#000000, rgb(0, 0, 0));
    color: white;
   }

   #right_f{
    margin-top: 4%;
    height: 100%;
   }