* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-size: cover; */
  /* height: 100%; */
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
button {
  background-color: #024950;
  color: white;
  font-weight: bold;
  border: none;
  padding: 6px;
  border-radius: 5px;
}
header {
  width: 100%;
  height: 10%;
  padding: 2vw 0;
  background-color: #0fa4af;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
}
header nav#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav#navbar ul li a {
  margin: 1rem;
  font-family: Popin, sans-serif;
  font-size: 1rem;
  color: white;
}
h4 {
  font-size: 32px;
  font-family: Popin, sans-serif;
  text-align: center;
  /* top: 40%; */
  z-index: 1000px;
}
ul.hero-list {
  list-style: square;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20px;
  margin-left: auto;
  font-family: popin, sans-serif;
  font-weight: bold;
}
#track_o {
  align-items: center;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
}

.hero {
  background: url(./assets/Transport.jpeg);
}
